body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  background-color: black;
  width: 400px;
}

.code {
  color:rgb(0, 208, 255);
  font-family:'Courier New', Courier, monospace;
  font-weight: 900;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

img {
  width: 400px;
}

.rounded {
  border-radius: 25px;
}

.circle {
  border-radius: 50%;
}

.grayscale {
  filter: grayscale(100%)
}

.opacity {
  opacity: 0.5
}

.blur {
  filter: blur(4px)
}

.hue {
  filter: hue-rotate(180deg)
}

.dropshadow {
  filter: drop-shadow(8px 8px 10px green)
}